{% extends 'users/basic.html' %}
{% block content %}

<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ movie.image.url }}" class="img-fluid rounded shadow" alt="{{ movie.name }}">
    </div>

    <div class="col-md-8">
      <h2>{{ movie.name }}</h2>

      <p>
        ⭐ <strong>Rating:</strong> {{ movie.rating }}
      </p>

      <p>
        🎭 <strong>Cast:</strong> {{ movie.cast }}
      </p>

      <p>
        🎬 <strong>Genre:</strong> {{ movie.genre }}
      </p>

      <p>
        🌐 <strong>Language:</strong> {{ movie.language }}
      </p>

      <p>
        📝 {{ movie.description }}
      </p>

      <hr>


      {% if movie.trailer_url %}
      <div class="mt-4">
        <h4>🎥 Trailer</h4>

        
        <div class="ratio ratio-16x9">
          <iframe
           width="560" height="315" 
           src="{{ movie.trailer_url }}"
 
           title="YouTube video player"
           frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
           allowfullscreen>
          </iframe>
        </div>
      </div>
      {% else %}
        <p class="text-muted">Trailer not available.</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
